<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <packageSources>
      <!-- The MARS NuGet repository. -->
      <add key="mars-nuget" value="https://artifactory.mars.haw-hamburg.de/artifactory/api/nuget/nuget-virtual" />
      <add key="mars-nexus" value="https://nexus.informatik.haw-hamburg.de/repository/nuget-hosted/" />
   </packageSources>
</configuration>