<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConfigService" version="0.2.20" targetFramework="net45" />
  <package id="DalskiAgent" version="0.5.54" targetFramework="net45" />
  <package id="GeoAPI" version="1.7.4" targetFramework="net45" />
  <package id="GeoGridEnvironment" version="0.9.8" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="MARS.Shuttle.SimulationConfig" version="1.0.5" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net45" />
  <package id="MySQL.NET" version="6.6.4" targetFramework="net45" />
  <package id="SpatialAPI" version="1.0.95" targetFramework="net45" />
</packages>