<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    
    
      <!--NodeContainer settings -->

      <!--Parse Nodes From Config?-->
      <add key="ParseNodeFromConfig" value="true"/>

      <!--NodeType of this Node. Options are 0 for LayerContainer, 1 for SimulationManager,2 for SimulationController,-->
      <add key="NodeType" value="0"/>
      <add key="NodeIdentifier" value="IamSoMadeRightNow"/>
      <add key="NodeEndPointIP" value="141.22.11.254"/>
      <add key="NodeEndPointPort" value="60100"/>

   
      <!--Multicast adapter settings-->
      <!--Multicast IP-->
      <add key="IP" value="224.10.99.1"/>
      <!--Port-->
      <add key="ListenPort" value="50100"/>
      <add key="SendingPort" value="50101"/>

      <!--the ip version of the socket. Default = ipv4-->
      <add key="IpVersion" value="IPv4"/>

      <!-- UDPMulticast - listen settings-->

      <!-- none-->

      <!-- UDPMulticast - send settings-->

      <!--use the first interface that is able to multicast-->
      <add key="SendOnAllInterfaces" value="true" />

      <!--configure a speific networkinterface for sending messages. -->


      <!--Method to choose to which interface the socket get binded. Options: IP or Name -->
      <add key="BindSendingInterfaceBy" value="IP"/>

      <!--add key ="SendingInterfaceName" value="Ethernet"/-->
      <!--add key ="SendingInterfaceIPv6" value="FF::01"/-->
      <add key="GetSendingInterfaceByIPv4" value="10.0.0.6"/>
    

  
      <add key="MainNetworkAddress" value="10.0.0.7"/>
      <add key="MainNetworkPort" value="8500"/>
      <add key="KademliaPort" value="8888"/>
    
      
    
    
  </appSettings>
  
</configuration>