<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.0" targetFramework="net45" />
  <package id="LayerAPI" version="0.1.251" targetFramework="net45" />
  <package id="LayerContainer" version="0.1.251" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="SimulationManager" version="0.1.251" targetFramework="net45" />
</packages>