<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host_adress" value="192.168.0.1" />
    <add key="host_port" value="10000"/>
    <add key="isServer" value="true"/>
    <add key="remote_adress" value="192.168.0.2" />
    <add key="remote_port" value="10000"/>
  </appSettings>
</configuration>