

Performance
-  3-axis sweep and prune model
@see http://jitter-physics.com/wordpress/?tag=sweep-and-prune
@see http://www.philorwig.com/research/spatial/collision-detection-sweep-and-prune.html

- octree / quadtree


Boundaries
- boundaries einführen, vermutlich als polygon(IGeometry). zunächst als Vector siehe Environment2D
- was passiert, wenn Agenten Grenzen erreichen?
- gibt indexOutOfBounds mit zurück


Interaction-Criteria
- explore with type

Distribution
- evaluate different concepts

