<?xml version="1.0"?>
<MulticastSenderConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SendOnAllInterfaces>true</SendOnAllInterfaces>
  <BindingType>IP</BindingType>
  <SendingInterfaceName>Ethernet</SendingInterfaceName>
  <SendingInterfaceIP>10.0.0.6</SendingInterfaceIP>
</MulticastSenderConfig>