<?xml version="1.0"?>
<GeneralMulticastAdapterConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <MulticastGroupeIP>224.10.99.1</MulticastGroupeIP>
  <ListenPort>50100</ListenPort>
  <SendingPort>50500</SendingPort>
  <IpVersion>IPv4</IpVersion>
</GeneralMulticastAdapterConfig>