<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConfigService" version="0.2.12" targetFramework="net45" />
  <package id="GeoAPI" version="1.7.3.1" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Mars.Rock.Drill" version="0.2.31" targetFramework="net45" />
  <package id="MARS.Shuttle.SimulationConfig" version="0.1.238" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.8" targetFramework="net45" />
  <package id="NetTopologySuite" version="1.13.3.2" targetFramework="net45" />
  <package id="SpatialAPI" version="0.5.37" targetFramework="net45" />
</packages>