<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Mono"/>
    </startup>

  <appSettings>
    <add key="NChordPort" value="8888"/>
    <add key="NChordSeedPort" value="8888"/>
    <add key="NChordSeedHost" value="localhost"/>
  </appSettings>
</configuration>
