<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    
    
    <!-- UDPMulticast - listen settings-->
    <!--the ip version of the socket. Default = ipv4-->
    <add key="IpVersion" value="IPv4"/>
  
    <!-- listen to all interfaces-->
    <add key ="ListenOnAllInterfaces" value="false"/>

    <!-- Specifiy all network interfaces that listen for incomming multicast messages. In case u don’t want to listen on all interfaces.-->
    <!--add key ="GetListenInterfaceByName" value="Ethernet 2"/-->
    <add key ="GetListenInterfaceByIP" value="10.0.0.6"/>
   
    
    <!-- UDPMulticast - send settings-->
    
    <!--use the first interface that is able to multicast-->
    <add key="SendOnAllInterfaces" value="false" />
    
    <!--configure a speific networkinterface for sending messages. -->
    <!--add key ="SendingInterfaceName" value="Ethernet"/-->
    <!--add key ="SendingInterfaceIPv6" value="FF::01"/-->
    <add key ="GetSendingInterfaceByIPv4" value="10.0.0.6"/>
    
  </appSettings>
  
  
  
</configuration>