<div ng-include="'partials/navbar'"></div>
{{error}}
<table class="table">
    <thead>
    <tr>
        <th>Model Name</th>
        <th>Model Description</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody ng-repeat="m in models">
    <tr>
        <td>
            {{m.Name}}
        </td>
        <td>
            {{m.Description}}
        </td>
        <td>
            {{m.Status.StatusMessage}}
        </td>
        <td>
            <button ng-hide="m.Running"  ng-click="startModel(m)">Start</button>
            <button ng-hide="(m.Status.StatusMessage == 'Paused') || !(m.Running)" ng-click="pauseSim(m)">Pause</button>
            <button ng-hide="(m.Status.StatusMessage == 'Resume') || (m.Status.StatusMessage == 'Running') || !(m.Running)" ng-click="resumeSim(m)">Resume</button>
            <button ng-hide="(m.Status.StatusMessage == 'Aborted') || !(m.Running)" ng-click="abortSim(m)">Abort</button>
        </td>
    </tr>
    </tbody>
</table>



{{modelResult}}



<table class="table">
    <thead>
    <tr>
        <th>Node Identifier</th>
        <th>Node Type</th>
        <th>IPAddress</th>
        <th>Port</th>
    </tr>
    </thead>
    <tbody ng-repeat="n in nodes">
    <tr>
        <td>
            {{n.NodeIdentifier}}
        </td>
        <td>
            {{n.NodeType}}
        </td>
        <td>
            {{n.NodeEndpoint.IpAddress}}
        </td>
        <td>
            {{n.NodeEndpoint.Port}}
        </td>
    </tr>
    </tbody>
</table>


