<div ng-include="'partials/navbar'"></div>


<table class="table">
    <thead>
    <tr>
        <th>Model Name</th>
        <th>Model Description</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody ng-repeat="m in models">
    <tr>
        <td>
            {{m.Name}}
        </td>
        <td>
            {{m.Description}}
        </td>
        <td>
            {{m.Status.StatusMessage}}
        </td>
        <td>
            <input type="button" value="Start" ng-hide="m.Running"  ng-click="startModel(m)">
            <input type="button" value="Pause" ng-hide="!m.Running" ng-click="startModel(m)">
            <input type="button" value="Resume" ng-hide="!m.Running" ng-click="startModel(m)">
            <input type="button" value="Abort" ng-hide="!m.Running" ng-click="startModel(m)">
        </td>
    </tr>
    </tbody>
</table>



{{modelResult}}



<table class="table">
    <thead>
    <tr>
        <th>Node Identifier</th>
        <th>Node Type</th>
        <th>IPAddress</th>
        <th>Port</th>
    </tr>
    </thead>
    <tbody ng-repeat="n in nodes">
    <tr>
        <td>
            {{n.NodeIdentifier}}
        </td>
        <td>
            {{n.NodeType}}
        </td>
        <td>
            {{n.NodeEndpoint.IpAddress}}
        </td>
        <td>
            {{n.NodeEndpoint.Port}}
        </td>
    </tr>
    </tbody>
</table>


