<div ng-include="'partials/navbar.html'"></div>

<div id="top-file-buttons-container">
    <button ng-click="clearUpdateScopeAndReload()" class="btn btn-primary" data-toggle="modal">new file</button>
    <button id="my-files-btn" ng-click="getFileList()" class="btn btn-primary" data-toggle="modal" data-target="#fileListContainer">
       my files
    </button>
</div>

<h2 id="current-filename">&lt;New File&gt;</h2>

<textarea id="editor" ng-model="editor.text" rows="20" cols="100"></textarea>

<div id="bottom-file-buttons-container">
    <button id="save-btn" class="btn btn-primary" data-toggle="modal" data-target="#enterFilenamePromt">save file</button>
    <button id="update-btn" ng-click="saveFile()" class="btn btn-primary">update file</button>
</div>

<!-- Dialogbox for messages-->
<div class="modal fade" id="dialogBox">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                {{dialogBox.message}}
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Dialogbox for file-overwrite-confirmation -->
<div class="modal fade" id="updateConfrimBox">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                {{updateConfrimBox.message}}
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-primary btn-sm" ng-click="updateFile()">
                    Yes
                </button>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">
                    No
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 'Enter filename' promt -->
<div class="modal fade" id="enterFilenamePromt">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please enter a filename</h4>
            </div>
            <div class="modal-body">
                <input type="text" ng-model="editor.chosenFilename" class="form-control" id="chosenFilename" placeholder="Enter filename">
            </div>
            <div class="modal-body">
                <button ng-click="saveFile()" class="btn btn-primary btn-sm">
                    ok
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Filelist Dialog (from Bootstrap) -->
<div class="modal fade" id="fileListContainer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Filelist</h4>
            </div>
            <div class="modal-body">
                <label for="filterSavedFiles">Filter: </label>
                <input type="text" ng-model="fileFilter.filename" class="form-control" id="filterSavedFiles" placeholder="Type filter expression">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Filename</th>
                            <th>Last Update</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="file in savedFiles | filter:fileFilter">
                            <td>{{file.filename}}</td>
                            <td>{{file.updatedAt}}</td>
                            <td>
                                <button ng-click="editFile(file)" class="btn btn-primary btn-sm">
                                    edit
                                </button>
                                <button ng-click="deleteFile(file)" class="btn btn-primary btn-sm">
                                    delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>