<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <appSettings>
    
    <!--NodeContainer settings-->
    
    <!--Parse Nodes From Config?-->
    <add key="ParseNodeFromConfig" value="true"/>
    
    
    <!--NodeType of this Node. Options are 0 for LayerContainer, 1 for SimulationManager,2 for SimulationController,-->
    <add key="NodeType" value="0"/>
    <add key="NodeIdentifier" value="IamSoMadeRightNow"/>
    <add key="NodeEndPointIP" value="141.22.11.254"/>
    <add key="NodeEndPointPort" value="60100"/>

    
    
  </appSettings>"
  
</configuration>